<div class="container"><svg class="arc">
        <circle></circle>
    </svg>
    <div class="portcullis"> </div>
    <div class="castle base-1"> </div>
    <div class="castle base-2"> </div>
    <div class="castle base-3"> </div>
    <div class="castle base-4"> </div>
    <div class="base-tower left"></div>
    <div class="base-tower right"></div>
    <div class="castle mid-tower-left"></div>
    <div class="mid-tower-left-roof"></div>
    <div class="mid-tower-right"></div>
    <div class="level-2-tower-left"></div>
    <div class="level-2-tower-right"></div>
    <div class="castle level-3-tower"></div>
    <div class="level-3-tower-roof"></div>
    <div class="castle keep-base"></div>
    <div class="castle keep-main"></div>
    <div class="keep side-tower"></div>
    <div class="keep side-tower roof"></div>
    <div class="castle keep"></div>
    <div class="castle main-tower"></div>
    <div class="main-tower-roof"></div>
    <div class="main-side-roof"></div>
    <div class="keep tower-roof"></div>
</div>
  <div >
    <a class="hollow magic-font" href="/rides" ><h2 class="magic-kingdom park-and-ride-title">Magic Kingdom</h2></a>
  </div>
