@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Arima+Madurai&');

body {
  background: #faf0f1;
}

.logo {
  width: 5rem;
  border-radius: 0.313rem;
}

.top-bar {
  background-image: url(https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1366.png),url(https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/svg/nav_footer_background.svg),linear-gradient(95deg, #5c5c8a 3%, #9a6e8d 35%, #bc865c 65%, #7f847b 85%, #5c5c8a 96%);
  font-size: 3rem;
  font-family: "Arima Madurai";
  text-align: center;
}

nav.top-bar {
  padding: 0.5rem;
}

.nav-header {
  margin-top: 2rem;
}

.button {
  margin: 0.5rem;
  color: $button;
}

.review-button {
  margin-top: 1rem;
}

.top-bar input {
  max-width: 200rem;
  margin-right: 1rem;
}

.button.hollow.alert {
  border: none;
  color: $button;
  padding: 0rem
}

ul.menu {
  background-color: transparent;
}

#error_explanation {
  color: $error;
  font-weight: bold;
}

.image-box {
  border-style: solid;
  background-color: $image-box;
  color: $button;
}

.park-section {
  padding-left: 5rem;
}

.park-and-ride-title { 
  font-family: "Arima Madurai";
  margin-top: 1rem;
}

.ride-location {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-style: oblique;
}

.ride-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: bold;
  font-family:"Arima Madurai";
  font-size: 1.5rem;
}

.image-tile-index {
  height: auto;
  width: auto;
}

.image-tile-show {
  display: block;
  max-height: 28rem;
  max-width: 50rem;
  width: auto;
  height: auto;
}

.top-bar input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-margin-x {
  margin-left: 4rem;
  margin-right: 4rem;
  row-gap: 2rem;
}

.input-group-rounded {
  width: 25rem;
  margin-top: 0.5rem;
  margin-left: auto;
  padding-right: 1rem;

  .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }

  .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
}

.new-review {
  width: auto;
}

.new-ride {
  margin: auto;
  width: 50%;
}

.new-ride-div h1 {
  text-align: center;
}

.write-review {
  margin-right: 0;
  display: inline-block;
}

.username {
  font-weight: bold;
}

.devise-form {
  margin: auto;
  width: 50%;
}

.form-header {
  text-align: center;
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.grid-margin-x .small-4 {
  margin-left: 0rem;
}

.review-form-div {
  margin-left: 5rem;
}

.button.write-review {
  margin-left: 10rem;
}

.ride-tile-description {
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
};

.dropzone {
  text-align: center;
  padding: 3rem;
  border: 0.063rem grey dashed;
  background: #ffffff;
};

.submit-button {
  padding-top: 1rem;
}

.sign-in-up-buttons {
  border-radius: 50%;
  background-color: $image-box;
}

.review-photo {
  width: 5rem;
  height: 5rem;
}