@import "colors";



.logo {
  width: 5rem;
  border-radius: 0.313rem;
 }

.top-bar {
  background-image: url(https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/textures/nav-textures/nav_texture_1366.png),url(https://cdn1.parksmedia.wdprapps.disney.com/media/layout/assets/themes/wdw-50th/svg/nav_footer_background.svg),linear-gradient(95deg, #5c5c8a 3%, #9a6e8d 35%, #bc865c 65%, #7f847b 85%, #5c5c8a 96%);
 }

 nav.top-bar {
  padding: 0;
 }
 .button {
  margin: .5rem;
  color: $button;
 }

.top-bar input {
  max-width: 200rem;
  margin-right: 1rem;
}

.button.hollow.alert {
  border: none;
  color: $button;
}

ul.menu {
  background-color: transparent;
}

#error_explanation {
  color: $error;
  font-weight: bold;
}

.image-box {
  border-style: solid;
  background-color: $image-box;
  color: $button;
}

.park-ride {
  padding-left: 1rem;
}

.ride-location {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  font-style: oblique;
}

.ride-name {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;
  padding-top: .5rem;
  font-weight: bold;
}

.image-tile {
  height: auto;
  width: auto;
}

.top-bar input {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-margin-x {
  margin-left: 4rem;
  margin-right: 4rem;
  row-gap: 2rem;
}


.input-group-rounded {
  width: 25rem;
  margin-top: 0.5rem;
  margin-left: auto;
  padding-right: 1rem;
  .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }

  .input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 0.8rem;

  }
}